<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->
    <link rel="stylesheet" href="../node_modules/jexcel/dist/jexcel.css">
    <link rel="stylesheet" href="../node_modules/jsuites/dist/jsuites.css">

    <link rel="stylesheet" href="../node_modules/sumoselect/sumoselect.min.css">

</head>
<body ng-app="MYAPP">
    <!-- <h1>CUSTOM</h1> -->
    <!-- jexcel v4 -->
    <div ng-controller="index">
        <!-- <h2>{{title}}</h2>
        <button ng-click="getData()">Get Data</button>
        <div class="">
            <div jexcelv4 ng-model="data" id="jexcelv4" cm-ins="jIns" cm-config="jConfig"></div>
        </div>

        <h2>Sumo select</h2>
        <button ng-click="setSumoData('BAR')">Set ngModel = 'c'</button>
        <div>
            <select name="" id="" sumoselect ng-model="sumoModel" cm-data="sumoData" cm-config="sumoConfig"></select>
        </div> -->

        <h2>Tree view</h2>
        <tree-view cm-data="treeData" cm-config="treeViewConfig"></tree-view>
        <table tree-view cm-data="treeData" cm-config="treeViewConfig">
            <thead>
                <tr>
                    <td>ab</td>
                    <td>cd</td>
                </tr>
            </thead>
        </table>

    </div>
    <!-- / jexcel v4 -->



    
    <!-- libs -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>

    <!-- jexcel -->
    <script src="../node_modules/jexcel/dist/jexcel.js"></script>
    <script src="../node_modules/jsuites/dist/jsuites.js"></script>

    <!-- sumoselect -->
    <script src="../node_modules/sumoselect/jquery.sumoselect.min.js"></script>
    
    <script src="./app.js"></script>
    <script src="./components/component.js"></script>

    <!-- screen, controllers -->
    <script src="./index.js"></script>
    
</body>
</html>